@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Saira+Extra+Condensed:500');

html,
body,
div,
h1,
h2,
p,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-size: 24px;
}

body {
  align-items: center;
  background: black;
  color: rgb(255, 214, 117);
  display: flex;
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
  height: 100vh;
  justify-content: center;
  line-height: 1.25;
  overflow: hidden;
}

div[id='root'] {
  width: 100%;
}
.container {
  height: 100vh;
  position: relative;
  width: 100%;
}

.lyrics,
.title {
  left: 50%;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  z-index: 200;
}

.lyrics p {
  color: rgb(255, 214, 117);
  font-size: 1.25rem;
}

.title {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 18rem;
}

.container:before {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0) 100%
  );
  bottom: 0;
  content: ' ';
  left: 0;
  right: 0;
  position: aboslute;
  top: 0;
  z-index: 100;
}

.crawl {
  font-size: 300%;
  bottom: 0;
  height: 80rem;
  left: -100%;
  position: absolute;
  transform: translateX(-50) perspective(300px) rotateX(28deg);
  transform-origin: 50% 100%;
  width: 400%;
}

.content {
  position: absolute;
  top: 100%;
}

.artist {
  font-weight: 600;
  margin-bottom: 5rem;
  text-align: center;
}

.song-title {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 250%;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 7rem;
  transform: scale(1, 1.5);
  text-align: center;
}

.content p {
  font-weight: 700;
  line-height: 1.33;
  margin-bottom: 4rem;
  text-align: left;
}
